<!-- contenido de página -->
<div class="right_col" role="main">
    <div class="page-title"></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <span class="section">Ingreso Almacen</span>
                    <br>
                    <form class="form-inline " >
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <button type="submit" class="btn btn-info">Buscar</button>
                        <label class="l_nuevo">
                            <a href="#/compra/new/" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nuevo </a>        
                        </label>
                    </form>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>

                                    </th>
                                    <th class="column-title">#</th>
                                    <th class="column-title">Proveedor</th>
                                    <th class="column-title">T. Comprobante</th>
                                    <th class="column-title">Serie</th>
                                    <th class="column-title">Numero</th>
                                    <th class="column-title">Fecha</th>
                                    <th class="column-title">Impuesto</th>
                                    <th class="column-title">Total</th>
                                    <th class="column-title">Estado</th>
                                    <th class="column-title no-link last" style="display: table-cell;">
                                        <span class="nobr">Opciones</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7" style="display: none;">
                                        <a class="antoo" style="color:#fff; font-weight:500">
                                            "Bulk Actions ("
                                            <span class="antion-cnt">Selected</span>
                                            ")"
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="even pointer">
                                    <td class="a-center"></td>
                                    <td class="">1</td>
                                    <td class="">Importaciones S.A.C</td>
                                    <td class="">Factura</td>
                                    <td class="">001</td>
                                    <td class="">0001</td>
                                    <td class="">2017-7-25</td>
                                    <td class="">18</td>
                                    <td class="">300.00</td>
                                    <td class="">Estado</td>
                                    <td>
                                        <a href="#" class="btn btn-success btn-xs">
                                            <i class="fa fa-eye">
                                            </i>
                                        </a>
                                        <a href="#" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil">
                                            </i>

                                        </a>
                                        <a href="#" class="btn btn-danger btn-xs">
                                            <i class="fa fa-times-circle">
                                            </i>

                                        </a>
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>