<div class="right_col" role="main">
    <div class="page-title"></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <span class="section">Cliente</span>
                    <br>
                    <form class="form-inline " >
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option>Seleccione</option>
                                <option>Id Cliente</option>
                                <option>Nombre o Razon Social</option>
                                <option>R.U.C</option>
                                <option>D.N.I</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Buscar</button>
                        <label class="l_nuevo">
                            <a href="#/cliente/new/" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;Nuevo </a>        
                        </label>
                    </form>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>

                                    </th>
                                    <th class="column-title">#</th>
                                    <th class="column-title">Nombre o Razon Social</th>
                                    <th class="column-title">RUC</th>
                                    <th class="column-title">DNI</th>
                                    <th class="column-title">Direccion</th>
                                    <th class="column-title">Telefono</th>
                                    <th class="column-title">ID</th>
                                    <th class="column-title no-link last" style="display: table-cell;">
                                        <span class="nobr">Opciones</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7" style="display: none;">
                                        <a class="antoo" style="color:#fff; font-weight:500">
                                            "Bulk Actions ("
                                            <span class="antion-cnt">Selected</span>
                                            ")"
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="even pointer">
                                    <td class="a-center"></td>
                                    <td class="">1</td>
                                    <td class="">PUBLICO GENERAL</td>
                                    <td class="">20107343895110</td>
                                    <td class="">73438591</td>
                                    <td class="">Juliaca</td>
                                    <td class="">963518495</td>
                                    <td class="">1</td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs">
                                            <i class="fa fa-folder">
                                                Ver
                                            </i>
                                        </a>
                                        <a href="#" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil">
                                            </i>
                                            Editar
                                        </a>
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
